<%= form_for @job_post, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :company_name, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :company_name, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :job_title, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :job_title, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :salary, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :salary, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :location, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :location, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :job_description, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :job_description, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :job_benefits, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :job_benefits, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :contact_email, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.email_field :contact_email, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :website, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :website, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :phone, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :phone, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  job_posts_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
